/* main.scss */
@use './abstracts/mixins' as mix;
:root{
    --bg-color-sec:#CFE5FF;
}
// 미션 1의 기본 요구 사항을 고려해 PC사이즈 최소 너비 값을 임의 지정해주었습니다.
body{
    min-width: 745px;
}
.sec{
    overflow: hidden;
    color:var(--color-gray-700);
    .inner{max-width: 1170px;}
    &__label{
        @include mix.text-style('2lg', 800);
        color:var(--color-primary-100);
    }
    &__title{
        @include mix.text-style('custom', 700, 2.5rem, 140%);
        margin-top: 12px;
    }
    &__desc{
        @include mix.text-style('2xl', 500);
        margin-top: 24px;
    }
    &-layout-1{
        padding:138px 0;
        .inner{
            @include mix.flex-center;
            gap:0 64px;
            &::before{
                display: block;
                content: "";
                @include mix.el-size(579px, 444px);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &-layout-2{
        height: 540px;
        background-color: var(--bg-color-sec);
        display: flex;
        align-items: flex-end;
        .inner{
            @include mix.flex-cb;
            &::after{
                display: block;
                content: "";
                @include mix.el-size(746px, 340px);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
        .sec{
            &__head{margin:0 0 60px 0;}
            &__title{margin-top: 0;}
        }
        .btn--link{margin-top: 32px;}
    }
}
.sec-visual{
    .inner{
        &::after{
            background-image:url(../img/main/img_home_top.svg);
        }
    }
}
.sec-hot{
    .inner{
        &::before{background-image:url(../img/main/img_home_01.svg);}
    }
}
.sec-search{
    text-align: right;
    .inner{
        &::before{background-image:url(../img/main/img_home_02.svg); order:2;}
    }
}
.sec-register{
    .inner{
        &::before{background-image:url(../img/main/img_home_03.svg);}
    }
}
.sec-banner{
    margin-top: 138px;
    .inner{
        &::after{
            @include mix.el-size(746px, 397px);
            background-image:url(../img/main/img_home_bottom.svg);
        }
    }
}

// PC
@media screen and (max-width: 1179px) {
    .sec{
        &-layout-1{
            padding:calc(138px * .81) 0;
            .inner{
                gap:0 calc(64px * .81);
                &::before{
                    @include mix.el-size(calc(579px * .81), calc(444px * .81));
                }
            }
        }
        &-layout-2{
            height: calc(540px * .81);
        }
    }
}
@media screen and (max-width: 979px) {
    .sec{
         &-layout-1{
            text-align: center;
            .inner{display: block;
                 &::before{margin: 0 auto 60px;}
            }
        }
        &-layout-2{
            text-align: center;
            padding:calc(138px * .81) 0 0;
            height: auto;
            .inner{display: block;
                &::after{margin: 0 auto;}
            }
        }
    }
    .sec-banner{
        margin-top: 0px;
    }
}
// 태블릿
@media screen and (max-width: 745px) {

}