:root {
  --bg-color-section: #CFE5FF;
}

.wrap {
  padding-top: 70px;
}

.section {
  overflow: hidden;
  color: var(--color-gray-700);
}

.section__label {
  font-size: var(--text-2lg-size);
  line-height: var(--text-2lg-height);
  font-weight: 800;
  color: var(--color-primary-100);
}

.section__title {
  font-size: 2.5rem;
  line-height: 140%;
  font-weight: 700;
  margin-top: 12px;
}

.section__desc {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 24px;
}

.section-layout-1 {
  padding: 138px 0;
}

.section-layout-1 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 64px;
}

.section-layout-1 .inner::before {
  display: block;
  content: "";
  width: 100%;
  max-width: 579px;
  aspect-ratio: 579 / 444;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.section-layout-2 {
  height: 540px;
  background-color: var(--bg-color-section);
  display: flex;
  align-items: flex-end;
}

.section-layout-2 .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-layout-2 .inner::after {
  display: block;
  content: "";
  width: 100%;
  max-width: 746px;
  aspect-ratio: 746 / 340;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-layout-2 .section__title {
  margin-top: 0;
}

.section-layout-2 .btn--link {
  margin-top: 32px;
}

.section-visual .section__head {
  margin: 0 0 60px 0;
}

.section-visual .inner::after {
  background-image: url(../img/main/img_home_top.svg);
}

.section-hot .inner::before {
  background-image: url(../img/main/img_home_01.svg);
}

.section-search {
  text-align: right;
}

.section-search .inner::before {
  background-image: url(../img/main/img_home_02.svg);
  order: 2;
}

.section-register .inner::before {
  background-image: url(../img/main/img_home_03.svg);
}

.section-banner {
  margin-top: 138px;
}

.section-banner .section__head {
  margin: 0 0 60px 0;
}

.section-banner .inner::after {
  max-width: 746px;
  aspect-ratio: 746 / 397;
  background-image: url(../img/main/img_home_bottom.svg);
}


/* [Tablet] media query */
@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 2rem;
    margin-top: 16px;
  }

  .section__desc {
    font-size: var(--text-2lg-size);
    line-height: var(--text-2lg-height);
  }

  .section-layout-1 {
    padding: 24px 0;
  }

  .section-layout-1 .inner {
    display: block;
  }

  .section-layout-1 .inner::before {
    margin: 0 auto 24px;
  }

  .section-layout-1 .section__head {
    width: 100%;
    max-width: 579px;
    margin: 0 auto;
  }

  .section-layout-1 .section__title br {
    display: none;
  }

  .section-layout-2 {
    text-align: center;
    height: auto;
  }

  .section-layout-2 .inner {
    display: block;
  }

  .section-layout-2 .inner::after {
    margin: 0 auto;
  }

  .section-layout-2 .btn--link {
    margin-top: 24px;
  }

  .section-visual {
    padding-top: 84px;
  }

  .section-visual .section__head {
    margin: 0 0 211px 0;
  }

  .section-banner {
    margin-top: 32px;
    padding-top: 201px;
  }

  .section-banner .section__head {
    margin: 0 0 217px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-visual .section__title br {
    display: none;
  }
}

/* [Mobile] media query */
@media screen and (max-width: 767px) {
  .section__label {
    font-size: var(--text-lg-size);
    line-height: var(--text-lg-height);
  }

  .section__title {
    margin-top: 8px;
    font-size: var(--text-2xl-size);
    line-height: var(--text-2xl-height);
  }

  .section__desc {
    margin-top: 16px;
    font-size: var(--text-lg-size);
    line-height: var(--text-lg-height);
  }

  .section-layout-1 {
    padding: 20px 0;
  }

  .section-layout-2 .section__title {
    font-size: var(--text-3xl-size);
    line-height: var(--text-3xl-height);
  }

  .section-layout-2 .inner::after {
    width: calc(100% + 32px);
    transform: translateX(-16px);
  }

  .section-layout-2 .btn--link {
    margin-top: 18px;
  }

  .section-visual {
    padding-top: 48px;
    margin-bottom: 32px;
  }

  .section-visual .section__head {
    margin: 0 0 132px 0;
  }

  .section-banner {
    margin-top: 63px;
    padding-top: 121px;
  }

  .section-banner .section__head {
    margin: 0 0 131px 0;
  }
}