:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-200: #1251aa;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
}

body {
  margin: 0;
  background-color: #ffffff;
  width: 100%;
}

header {
  max-width: 1920px;
  height: 70px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.navi {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left > a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-family: "ROKAF Sans";
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-100, #3692ff);
}

.login {
  padding: 12px 23px;
  width: 128px;
  height: 48px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border-radius: 8px;
  color: var(--gray-100, #f3f4f6);
  background-color: var(--primary-100, #3692ff);
}

.colored {
  background-color: #cfe5ff;
  width: 100%;
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.centered {
  margin: 0 auto;
}

.show-items {
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--gray-50, #f9fafb);
  background-color: var(--primary-100, #3692ff);
}

.main-top > .container {
  align-items: flex-start;
}

.container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-middle > .container {
  width: 50%;
  background-color: #fcfcfc;
  margin: 10% auto;
  border-radius: 12px;
  gap: 25px;
}

.main-core-title {
  font-size: 40px;
  color: var(--gray-700, #374151);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 40px;
}

.main-middle > .container > * {
  width: 100%;
}

.text-right {
  text-align: right;
}

.main-point {
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-100, #3692ff);
  line-height: 26px;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--gray-700, #374151);
  line-height: 140%;
  padding-bottom: 20px;
}

.main-describe {
  font-size: 24px;
  font-weight: 500;
  color: var(--gray-700, #374151);
  line-height: 32px;
}

footer {
  background-color: var(--gray-900, #111827);
}

footer .footer-list {
  width: 100%;
  padding: 20px 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  color: var(--gray-400, #9ca3af);
}

.list-policy > a {
  color: white;
  margin: 0 20px;
}

.list-sns {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.list-sns > a:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 1919px) {
  header .navi {
    margin: 0 200px;
  }

  .main-point {
    font-size: 12px;
  }

  .main-title {
    font-size: 32px;
  }

  .main-describe {
    font-size: 18px;
  }
}
