@import url("palette.css");

body {
  font-family: Pretendard, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--white);
}

.inner {
  width: 640px;
  margin: 0 auto;
}

.logo {
  width: 396px;
  height: 132px;
  margin: 0 auto 40px;
}

.logo_img {
  width: 100%;
}

.form_contorl {
  width: 100%;
  margin: 40px 0 24px;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin: 0 0 24px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
}

.sign_title {
  margin: 0 0 16px;
}

.sign_input_field::placeholder {
  font-family: Pretendard, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.sign_input_field {
  width: 100%;
  background: var(--gray100);
  padding: 16px 24px;
  border: 0;
  border-radius: 12px;
}

.sign_input_field:focus {
  outline: none;
}

.flex_item {
  position: relative;
}

.passwrod_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.ic_eyes {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}

.hide {
  background-image: url(../icon/ic_passwrod_hide.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.open {
  background-image: url(../icon/ic_passwrod_open.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.connection {
  text-align: center;
}

.connection_button {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray100);
  line-height: 2;
  background: var(--Secondary400);
  border-radius: 40px;
}

.simple_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  margin: 24px 0;
  background: var(--skyblue);
  border-radius: 8px;
  color: var(--gray800);
}

.simple_login_text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.social_ic {
  display: inline-block;
  width: 42px;
  height: 42px;
}

.member_login {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7;
  color: var(--gray800);
}

.login_link {
  text-decoration: underline;
  color: var(--blue);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1200px) {
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .container {
    margin: 0 16px;
  }

  .inner {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .logo {
    width: 198px;
    height: 66px;
    margin: 0 auto 24px;
  }

  .form_contorl {
    width: 100%;
    margin: 24px 0 16px;
  }

  .info {
    max-width: 400px;
    margin: 0 0 16px;
    font-size: 0.875rem;
  }

  .sign_title {
    margin: 0 0 8px;
  }

  /* open 이미지 hide로 변겨 */
  .open {
    background-image: url(../icon/ic_passwrod_hide.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
