@import url("palette.css");

body {
  font-family: Pretendard, sans-serif;
  background-color: #cfe5ff;
}

a {
  cursor: pointer;
}

.panda_header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
}

.inner {
  margin: 0 12.5rem;
}

.gnb {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.logo_img {
  width: 153px;
  height: 51px;
}

.login_button {
  display: inline-block;
  padding: 0.6875rem 2.6875rem;
  border-radius: 8px;
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}

.wrap {
  margin-top: 70px;
}

/* main visual */

.main_visual {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.visual {
  padding: 12.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual_txt {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bg {
  flex: 1 1 auto;
}

.main_button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  padding: 12px 124px;
  background: var(--blue);
  border-radius: 40px;
}

/* content */

.content {
  background-color: var(--white);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 138px 0;
}

.content_inner {
  margin: 0 29.125rem;
}

.content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.content_img {
  flex: 1 1 auto;
}

.content_txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray700);
}

.category {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.4;
  color: var(--blue);
}

.title {
  margin: 12px 0 24px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray700);
}

.content_text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.right {
  text-align: right;
}

.bottom_divider {
  max-width: 1920px;
  margin: 0 auto;
  padding: 69px 0;
  background-color: #fcfcfc;
}

/* bottom visual */

.bottom_visual {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.bt_visual {
  padding: 143px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt_txt {
  flex-grow: 1;
}

.bottom_img {
  flex: 2 1 746px;
}

/* footer */

.end_footer {
  max-width: 1920px;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  background: var(--gray900);
}

.footer_list {
  padding: 32px 0 0;
  display: flex;
  justify-content: space-between;
}

.copy {
  color: var(--gray400);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.footer_a {
  display: inline-block;
  color: var(--gray200);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.footer_a:nth-child(1) {
  margin: 0 30px 0 0;
}

.icon_list {
  display: flex;
  gap: 12px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1200px) {
  .panda_header {
    max-width: 1200px;
  }

  .inner {
    margin: 0 1.5rem;
  }
  /* main visual */
  .main_visual {
    max-width: 1200px;
    margin: 70px auto 0;
  }

  .visual {
    padding: 5.25rem 0 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
  }

  .bg {
    width: 100%;
  }

  .visual_txt {
    align-items: center;
    gap: 0;
  }

  .main_visual .visual .visual_txt .title br {
    display: none;
  }
  /* content */
  .content {
    background-color: var(--white);
    max-width: 1200px;
    padding: 24px 0 56px;
  }

  .content_inner {
    margin: 0 1.5rem;
  }

  .content_box {
    flex-direction: column;
  }

  .revers_tablet {
    flex-direction: column-reverse;
  }

  .content_img {
    width: 100%;
  }

  .content_txt {
    width: 100%;
    margin-top: 24px;
    align-items: stretch;
    color: var(--gray700);
  }

  .category {
    font-weight: 700;
  }

  .content_txt .flex_item .title br {
    display: none;
  }

  .title {
    font-size: 2rem;
  }
  /* visual - top,bottom title */
  .visual_txt .title {
    font-size: 2.5rem;
  }

  .bt_txt .title {
    font-size: 2.5rem;
  }
  /* bottom visual */
  .content_text {
    font-size: 1.125rem;
  }

  .bottom_divider {
    display: none;
  }

  .bottom_visual {
    max-width: 1200px;
  }

  .bt_visual {
    padding: 0;
    flex-direction: column;
  }

  .bt_txt {
    padding: 201px 0 214px;
    text-align: center;
  }

  .bottom_img {
    flex: 1 1 auto;
  }
  /* footer */
  .end_footer {
    max-width: 1200px;
  }

  .footer_list {
    justify-content: space-evenly;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .panda_header {
    max-width: 767px;
  }

  .logo_img {
    width: 103px;
    height: 51px;
    content: url(../image/panda_text_logo.svg);
  }

  .inner {
    margin: 0 1rem;
  }
  /* main visual */
  .main_visual {
    max-width: 767px;
    margin: 70px auto 0;
  }

  .visual {
    padding: 3rem 0 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 132px;
    margin: 0 auto;
  }

  .bg {
    width: 100%;
  }

  .main_button {
    font-size: 1.125rem;
    line-height: 1.4;
    color: var(--white);
    padding: 11px 71px;
    background: var(--blue);
    border-radius: 40px;
  }

  .visual_txt {
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .main_visual .visual .visual_txt .title br {
    display: block;
  }
  /* content */
  .content {
    max-width: 767px;
    padding: 52px 0 83px;
  }

  .content_inner {
    margin: 0 1rem;
  }

  .content_box {
    flex-direction: column;
  }

  .revers_tablet {
    flex-direction: column-reverse;
  }

  .content_img {
    width: 100%;
  }

  .content_txt {
    width: 100%;
    margin-top: 24px;
    align-items: stretch;
    color: var(--gray700);
  }

  .category {
    font-size: 1rem;
    font-weight: 700;
  }

  .content_txt .flex_item .title br {
    display: none;
  }

  .title {
    font-size: 1.5rem;
  }
  /* visual - top,bottom title */
  .visual_txt .title {
    font-size: 2rem;
    margin: 0 0 18px;
  }
  /* bottom visual */
  .bt_txt .title {
    font-size: 2rem;
  }

  .content_text {
    font-size: 1rem;
  }

  .bottom_divider {
    display: none;
  }

  .bottom_visual {
    max-width: 767px;
  }

  .bt_visual {
    padding: 0;
    flex-direction: column;
    margin: 0 auto;
  }

  .bt_txt {
    padding: 121px 0 131px;
    text-align: center;
  }

  .bottom_img {
    flex: 1 1 auto;
    width: 100%;
  }
  /* footer */
  .end_footer {
    max-width: 767px;
    position: relative;
  }

  .footer_list {
    justify-content: space-between;
    margin: 0 32px;
  }

  .copy {
    position: absolute;
    bottom: 30px;
    left: 32px;
  }
}
