@import url(colors.css);

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

header {
    top: 0;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
}

footer {
    background-color: #cfe5ff;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

h1 {
    color: #374151;
    font-weight: 700;
    font-size: clamp(16px, 2vw ,40px);
}

h2 {
    font-weight: 500;
    font-size: clamp(12px, 1vw, 24px);
    color: #374151;
}

button {
    cursor: pointer;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo_img {
    background-image: url("/web_publishing/panda_market/images/Property 1=sm.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 66px;
}

.login_btn {
    width: 128px;
    height: 48px;
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.login_btn:hover {
    background-color: #1967d6;
}

.login_btn:active {
    background-color: #1251aa;
}

.plan_card {
    background-color: #cfe5ff;
    display: flex;
    height: 540px;
    justify-content: center;
    align-items: end;
}

.slogan {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.large_btn {
    width: 19vw;
    max-width: 357px;
    height: 56px;
    background-color: var(--blue);
    border-radius: 40px;
    border: none;
    font-size: 20px;
}

.large_btn:hover {
    background-color: #1967d6;
}

.large_btn:active {
    background-color: #1251aa;
}

.main_img {
    width: 746px;
    height: 340px;
}

.container {
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box {
    width: 988px;
    height: 444px;
    border-radius: 12px;
    border: none;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduce_img {
    width: 579px;
    height: 444px;
}

.keyword {
    font-weight: 800;
    font-size: 18px;
    color: var(--blue);
}

.sec_introduce {
    text-align: right;
}

.bottom {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bottom_slogan {
    padding-bottom: 100px;
}

.footer_container {
    height: 160px;
    background-color: var(--gray900);
    display: flex;
    justify-content: center;
}

.bottom_content_box {
    width: 1110px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: var(--gray400);
    font-size: 16px;
    font-weight: 400;
}

.footer_menu a {
    color: var(--gray200);
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

.sns_menu ul {
    padding: 0;
}

.sns_menu ul > li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

/* tablet */
@media (max-width: 1199px) {
    body {
        background-color: #fcfcfc;
    }

    h1 {
        color: var(--gray700);
        font-weight: 700;
        font-size: 32px;
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        color: #374151;
    }

    .slogan h1, .bottom h1 {
        font-size: 40px;
    }

    .logo {
        padding: 10px 24px;
    }

    .plan_card {
        background-color: #cfe5ff;
        display: flex;
        flex-direction: column;
        height: 771px;
        justify-content: space-between;
        align-items: center;
    }

    .large_btn {
        width: 512px;
        height: 56px;
    }

    .main_img {
        width: 744px;
        height: 340px;
    }

    .slogan {
        align-items: center;
        margin-top: 50px;
    }

    .only_pc {
        display: none;
    }

    .container {
        height: 800px;
    }

    .content_box {
        display: grid;
        width: 768px;
        height: 100%;
        padding: 20px 0;
    }

    .introduce, .sec_introduce {
        padding-bottom: 40px;
    }

    .sec_introduce {
        grid-row: 2/3;
    }

    .keyword {
        font-weight: 700;
        font-size: 18px;
        color: var(--blue);
    }

    .introduce_img {
        width: 696px;
        height: 525.55px;
    }

    .bottom {
        display: grid;
        width: 100%;
        height: 1080px;
        align-items: end;
    }

    .bottom img {
        width: 100%;
    }

    .bottom_slogan {
        text-align: center;
    }

    .bottom_content_box {
        width: 768px;
        padding: 0px 0px 60px;
        justify-content: space-around;
    }
}

/* mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    .plan_card {
        height: 600px;
    }

    .slogan {
        margin-top: 80px;
    }

    .slogan_heading {
        font-size: 32px;
        text-align: center;
    }

    .large_btn {
        width: 240px;
        height: 48px;
        font-size: 18px;
    }

    .main_img {
        width: 375px;
        height: 175px;
    }

    .logo {
        padding: 10px 16px;
    }

    .logo_img {
        background-image: url("/web_publishing/panda_market/images/Property 1=Typo.png");
        background-repeat: no-repeat;
        width: 103px;
        height: 51px;
    }

    .container {
        height: 480px;
    }

    .content_box {
        width: 375px;
    }

    .introduce, .sec_introduce {
        width: 344px;
    }

    .introduce_img {
        width: 344px;
        height: 260px;
    }
    
    .bottom {
        height: 600px;
    }

    .bottom_slogan {
        padding-bottom: 0;
    }

    .bottom_content_box {
        display: grid;
    }

    .copyright {
        grid-row: 2/3;
        padding: 15px;
    }

    .privacy {
        grid-row: 1/2;
    }

    .sns_menu {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .only_mobile {
        display: block;
    }


}


