.pandaitem_wrap {
  width: 1200px;
  margin: 0 auto;
}
.pandaitem_wrap .pandaitem_section {
  display: flex;
  padding: 29px 0 40px;
  border-bottom: 1px solid var(--gray-200);
}
.pandaitem_wrap .pandaitem_section .pandaitem_img {
  width: 486px;
  height: 486px;
  padding-right: 24px;
  border-radius: 16px;
}
.pandaitem_wrap .pandaitem_section .pandaitem_img img {
  width: 486px;
  height: 486px;
  border-radius: 16px;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-200);
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_top
  .pandaitem_data_title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--gray-800);
  padding-bottom: 16px;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_top
  .pandaitem_data_price {
  font-size: 4rem;
  font-weight: 600;
  color: var(--gray-800);
  padding-bottom: 16px;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_top button {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_top
  button
  > img {
  width: 3px;
  height: 100%;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_intro {
  padding-top: 24px;
  color: var(--gray-600);
  font-size: 1.6rem;
  font-weight: 600;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_text {
  padding-top: 16px;
  color: var(--gray-600);
  font-size: 1.6rem;
  min-height: 104px;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_tag_title {
  padding-top: 24px;
  color: var(--gray-600);
  font-size: 1.6rem;
  font-weight: 600;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_tag_list {
  display: flex;
  padding-top: 16px;
  gap: 8px;
  flex-wrap: wrap;
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_tag {
  background-color: var(--gray-100);
  padding: 5px 16px;
  border-radius: 26px;
  font-size: 1.6rem;
  color: var(--gray-800);
}
.pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_user {
  padding-top: 62px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: end;
  flex: auto;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_icon {
  width: 40px;
  height: 40px;
  padding-right: 16px;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_icon
  > img {
  width: 100%;
  height: 100%;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_main {
  flex: 1;
  border-right: 1px solid var(--gray-200);
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_main
  p:nth-of-type(1) {
  font-size: 1.4rem;
  color: var(--gray-600);
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_main
  p:nth-of-type(2) {
  font-size: 1.4rem;
  color: var(--gray-400);
  padding-top: 2px;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_like {
  border: 1px solid var(--gray-200);
  border-radius: 35px;
  padding: 4px 12px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 24px;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_like
  > img {
  width: 32px;
  height: 32px;
}
.pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_user
  .pandaitem_data_user_like
  > span {
  color: var(--gray-500);
}
.pandaitem_wrap .pandaitem_comments_text_area {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pandaitem_wrap .pandaitem_comments_text_area .title {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 9px;
}
.pandaitem_wrap .pandaitem_comments_text_area .textarea {
  display: block;
  width: 100%;
  height: 104px;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: var(--gray-100);
  border-radius: 12px;
  border: none;
  resize: none;
  font-size: 1.6rem;
  margin-bottom: 16px;
}
.pandaitem_wrap .pandaitem_comments_text_area .textarea::placeholder{
  color: var(--gray-400);
}
.pandaitem_wrap .pandaitem_comments_text_area > div {
  display: flex;
  justify-content: flex-end;
}
.pandaitem_wrap .pandaitem_comments_text_area > div > button {
  border: none;
  border-radius: 8px;
  background-color: var(--gray-400);
  color: #fff;
  font-size: 1.6rem;
  width: 74px;
  line-height: 42px;
}
.pandaitem_wrap .pandaitem_comments_box {
  padding-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--gray-300);
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top {
  position: relative;
  display: flex;
  padding-bottom: 24px;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top p {
  font-size: 1.4rem;
  color: var(--gray-800);
  flex: 1;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top > button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top .update_box {
  position: absolute;
  right: 0;
  top: 34px;
  z-index: 1;
  width: 139px;
  height: 92px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.pandaitem_wrap
  .pandaitem_comments_box
  .pandaitem_comments_top
  .update_box
  > button {
  border: none;
  background-color: #fff;
  color: var(--gray-500);
  height: 50%;
  border-radius: 8px;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top > button > img {
  width: 3px;
  height: 100%;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_bottom {
  display: flex;
  gap: 8px;
}
.pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_bottom > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.pandaitem_wrap
  .pandaitem_comments_box
  .pandaitem_comments_bottom
  .pandaitem_comments_user_data
  p:nth-of-type(1) {
  font-size: 1.2rem;
  color: var(--gray-600);
  padding-bottom: 4px;
}
.pandaitem_wrap
  .pandaitem_comments_box
  .pandaitem_comments_bottom
  .pandaitem_comments_user_data
  p:nth-of-type(2) {
  font-size: 1.2rem;
  color: var(--gray-400);
}
.pandaitem_wrap .return_btn {
  padding: 64px 0;
  display: flex;
  justify-content: center;
}
.pandaitem_wrap .return_btn .nav_btn {
  width: 240px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-100);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
.pandaitem_wrap .return_btn .nav_btn > img {
  width: 24px;
  height: 24px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .pandaitem_wrap {
    width: 696px;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_img {
    width: 340px;
    height: 340px;
    padding-right: 16px;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_img img {
    width: 340px;
    height: 340px;
    border-radius: 16px;
  }
}
/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .pandaitem_wrap {
    width: 344px;
  }
  .pandaitem_wrap .pandaitem_section {
    display: flex;
    flex-direction: column;
    padding: 29px 0 40px;
    border-bottom: 1px solid var(--gray-200);
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_top {
    padding-top: 16px;
  }
  .pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_top
  .pandaitem_data_title{
    font-size: 1.6rem;
  }
  .pandaitem_wrap
  .pandaitem_section
  .pandaitem_data
  .pandaitem_data_top
  .pandaitem_data_price{
    font-size: 2.4rem;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_intro {
    font-size: 1.4rem;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_data .pandaitem_data_tag_title{
    font-size: 1.4rem;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_img {
    width: 343px;
    height: 343px;
    padding-right: 16px;
  }
  .pandaitem_wrap .pandaitem_section .pandaitem_img img {
    width: 343px;
    height: 343px;
    border-radius: 16px;
  }
  .pandaitem_wrap .pandaitem_comments_text_area .textarea{
    font-size: 1.4rem;
  }
  .pandaitem_wrap .pandaitem_comments_box .pandaitem_comments_top .update_box{
    width: 102px;
    height: 90px;
  }
}
