@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts-2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

header {
  top: 0;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  border-bottom: 1px solid #dfdfdf;
  z-index: 9999;
}

.header-link-text {
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

.logo-img {
  background-image: url('../../assets/images/logo_sm.png');
  background-repeat: no-repeat;
  width: 198px;
  height: 66px;
}

.header-menu-box {
  flex-grow: 4;
  padding: 0;
}

.header-menu {
  list-style: none;
  align-items: center;
  display: inline-block;
}

.header-menu-text {
  font-weight: 600;
  font-size: 18px;
  color: var(--menu);
}

.header-active {
  color: var(--blue);
}

.header-menu:first-child ~ li {
  padding-left: 30px;
}

.header-login-btn {
  width: 128px;
  height: 48px;
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

/* tablet */
@media (max-width: 1200px) {
  .logo {
    padding: 10px 24px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .logo {
    padding: 10px 16px;
  }

  .logo-img {
    background-image: url('../../assets/images/logo_typo.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 51px;
    margin-right: 10px;
  }

  .header-menu:first-child ~ li {
    padding-left: 10px;
  }

  .header-menu-text {
    font-weight: 600;
    font-size: 16px;
  }
}
