:root {
  --blue-color: #3692ff;
  --gray900-color: #111827;
  --gray800-color: #1f2937;
  --gray700-color: #374151;
  --gray600-color: #4b5563;
  --gray500-color: #6b7280;
  --gray400-color: #9ca3af;
  --gray200-color: #e5e7eb;
  --gray100-color: #f3f4f6;
  --gray50-color: #f9fafb;
}
