.container {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 20px;
}

.button {
  cursor: pointer;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #7c3aed;
  color: white;
}
