.header {
  background-color: white;
  width: 100%;
}

.headerContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.headerContent > a {
  display: flex;
  align-items: center;
  color: #6500c3;
  height: 45px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  gap: 8px;
}

.main {
  padding-top: 10px;
}
