.search-add-wrapper {
  display: flex;
  gap: 12px;
}

.search-input-wrapper {
  position: relative;
  width: 325px;
}

.search-input {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  padding: 9px 16px 9px 40px;
  background-color: var(--gray-100);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.search-input::placeholder {
  color: var(--gray-400);
}

.search-input:focus {
  outline: none;
}

.search-input-wrapper img {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .search-input-wrapper {
    width: 242px;
  }
}

@media (max-width: 600px) {
  .search-input-wrapper {
    width: 100%;
  }
}