/* _header.scss */
@use '../abstracts/mixins' as mix;
.header{
    position: relative;
     @include mix.el-size(100%, 70px);
    background: var(--main-white);
    .inner{
        max-width: 1520px;
        height: 100%;
        padding:0 200px;
        @include mix.flex-cb;
    }
    .logo{
        a{display: block;}
        i{
            @include mix.el-size(135px, 51px);
        }
    }
}
.util-list{
    display: flex;
    align-items: center;
}