/* colors */
:root {
  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --gray-600: #4B5563;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-300: #DFDFDF;
  --gray-200: #E5E7EB;
  --gray-150: #F5F5F5;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;
  --blue-650: #87bdff;
  --blue-600: #669ce1;
  --blue-500: #3182F6;
  --blue-100: #cfe5ff;
  --blue-50: #E6F2FF;
  --blue: #3692ff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}