:root {
  /* Secondary */
  --color-secondary-600: #4b5563;
  --color-secondary-800: ##1f2937;
  --color-secondary-900: #111827;

  /* Cool Gray */
  --color-cool-gray-200: #e5e7eb;
  --color-cool-gray-500: #6b7280;
}
