:root {
  /* Primary */
  --color-primary-100: #3692ff;

  /* Secondary */
  --color-secondary-100: #f3f4f6;
  --color-secondary-200: #e5e7eb;
  --color-secondary-300: #e5e7eb;
  --color-secondary-400: #9ca3af;
  --color-secondary-500: #6b7280;
  --color-secondary-600: #4b5563;
  --color-secondary-800: #1f2937;
  --color-secondary-900: #111827;

  /* Gray */
  --color-gray-500: #737373;

  /* Cool Gray */
  --color-cool-gray-100: #f3f4f6;
  --color-cool-gray-200: #e5e7eb;
  --color-cool-gray-300: #d1d5db;
  --color-cool-gray-400: #9ca3af;
  --color-cool-gray-500: #6b7280;

  /* System */
  --color-error-red: #f74747;
}
