.todoListItem {
  background-color: white;
  border: 2px solid var(--color-state-900);
  border-radius: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-state-800);
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  padding: 9px 12px;
  cursor: pointer;
}
.todoListItem.checked {
  background-color: var(--color-violet-100);
  text-decoration: line-through;
}

.todoListItem .checkImage {
  width: 32px;
  height: 32px;
}

.todoListItem .checkImage img {
  width: 100%;
  height: 100%;
}

.todoListItem .title {
  flex-grow: 1;
}
