.main {
  padding: 0 200px;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1199px) {
  .main {
    padding: 0 24px;
  }

  .content {
    max-width: none;
    margin: 0;
  }
}

@media (max-width: 743px) {
  .main {
    padding: 0 16px;
  }
}
