.main {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.badge {
  align-self: flex-start;
  margin: 24px 0px;
}

.img {
  align-self: center;
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
  }
}
