@charset "utf-8";
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
main[class*="sign-"] {
  padding: 60px 0;
  & .container {
    max-width: 640px;
  }
  & .logo {
    text-align: center;
    margin-bottom: 40px;
    & img {
      width: 396px;
    }
  }
}
.sign-in {
  min-height: $vh;
  @include flexColumn;
  justify-content: center;
}
@include breakpoint(744) {
  main[class*="sign-"] {
    & .logo {
      & img {
        width: min(396px, convertPxToVw(396, 744));
      }
    }
  }
}
@include breakpoint(375) {
  main[class*="sign-"] {
    padding: convertPxToVw(24) 0;
    & .logo {
      margin-bottom: convertPxToVw(24);
      & img {
        width: convertPxToVw(198);
      }
    }
  }
}
