/* base */
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 16px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  word-break: keep-all;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: bold;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

.inner {
  width: 100%;
  max-width: calc(1120px + 104px);
  margin: 0 auto;
  padding: 0 52px;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

input {
  border: 0;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url(../../font/woff2/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url(../../font/woff2/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url(../../font/woff2/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url(../../font/woff2/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url(../../font/woff2/Pretendard-ExtraBold.woff) format('woff');
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
div,
span,
strong,
table,
thead,
tbody,
tr,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  font-family: 'Pretendard', 'Apple SD Gothic Neo', '애플 SD 산돌고딕 Neo', 'Helvetica Neue', 'Roboto', 'sans-serif';
}