/* _button.scss */
@use '../abstracts/mixins' as mix;
.btn{
    background-color:var(--color-primary-100);
    color:var(--color-gray-100);
    text-align: center;
    &--sm{
        @include mix.text-style('lg', 600);
        border-radius: 8px;
        padding:8px 23px;
        &--48{
            padding:11px 30px;
        }
    }
    &--md{
        width: 240px;
        @include mix.text-style('2lg', 600);
        border-radius: 9999px;
        padding:11px 40px;
    }
    &--lg{
        width: 357px;
        @include mix.text-style('xl', 600);
        border-radius: 9999px;
        padding:12px 40px;
    } 
    &:hover{
        background-color: var(--color-primary-200);
        transition: .3s;
    }
    &:active{
        background-color: var(--color-primary-300);
        transition: .3s;
    }
}