@import url("../palette.css");

.PageControl {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 43px auto 0;
}

.PageControl-button {
  border: 1px solid var(--color-cool-gray-200);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-cool-gray-500);
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}

.PageControl-button.selected {
  color: white;
  background-color: #2f80ed;
}
