/* _mixins.scss */
@use 'variables' as var;

// font-size / line-height
$text-sizes: (
  '3xl': (size: 2rem, line: 2.625rem),
  '2xl': (size: 1.5rem, line: 2rem),
  'xl':  (size: 1.25rem, line: 2rem),
  '2lg': (size: 1.125rem, line: 1.625rem),
  'lg':  (size: 1rem, line: 1.625rem),
  'md':  (size: 0.875rem, line: 1.5rem),
  'sm':  (size: 0.8125rem, line: 1.375rem),
  'xs':  (size: 0.75rem, line: 1.25rem),
  'custom': (size:null, line:null)
);
// text-style
@mixin text-style($level, $weight: 400, $custom-size: null, $custom-line: null, ) {
  $size: map-get(map-get($text-sizes, $level), size);
  $line: map-get(map-get($text-sizes, $level), line);

  // 위에서 설정되지 않은 나머지 폰트 스타일에 대한 설정값 
  @if $size == null {
    $size: $custom-size;
  }
  @if $line == null {
    $line: $custom-line;
  }
  font-size: $size;
  line-height: $line;
  font-weight: if($weight == null, 400, $weight);
}
// width,height
@mixin el-size($width, $height: $width) {
  width: $width;
  height: $height;
}

//flex
// flex center
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
// flex center between
@mixin flex-cb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}