:root {
    --gray900: #111827;
    --gray800: #1F2937;
    --gray700: #374151;
    --gray600: #4B5563;
    --gray500: #6B7280;
    --gray400: #9CA3AF;
    --gray200: #E5E7EB;
    --gray100: #F3F4F6;
    --gray50: #F9FAFB;
    --blue: #3692FF;
}

body {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', AppleGothic, 돋움, sans-serif;
    margin: 0 auto;
}

a, button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    padding: 100px 0 30px;
}

.user {
    display: flex;
    justify-content: center;
    padding: 10px;
}

label {
    font-weight: 500;
}

#user-email, #user-password, #user-name, #check-password {
    background: var(--gray100);
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    width: 500px;
    color: #000000;
    font-size: 15px;
    font-weight: 200;
}

input::placeholder {
    color: #000000;
    font-size: 15px;
    font-weight: 200;
}

.emailinput {
    margin-bottom: 10px;
}

.passwordinput {
    position: relative;
}

.viewoff {
    position: absolute;
    left: 490px;
    bottom: 27px;
}

.view {
    position: absolute;
    right: 480px;
    bottom: 182px;
}

.loginbutton, .signupbutton {
    background: var(--blue);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 550px;
    height: 50px;
    margin: 15px 0;
    font-size: 20px;
}

.simplelogin {
    background: #CFE5FF;
    border: none;
    border-radius: 10px;
    width: 520px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 445px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
}

.sociallogin {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.sociallogin li {
    padding: 5px;
}

.footer {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 20px 20px 100px;
}

.footer a {
    color: var(--blue);
}