.go-login-btn {
  padding: 12px 23px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

.items-btn {
  border-radius: 40px;
  padding: 16px 124px;
  font-weight: 600;
  line-height: 32px;
  font-size: 20px;
}

.container {
  max-width: 1120px;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 9px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing {
  background-color: #cfe5ff;
  width: 100%;
  height: 540px;
}

.landing > .container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.landing-area {
  display: flex;
}

.landing-area-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.landing-area-right {
  flex: 8;
}

.description {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  gap: 5px;
  margin: 0;
  color: var(--gray700);
  display: flex;
  flex-direction: column;
}

.sub-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray700);
}

.main-wrap {
  display: flex;
  gap: 64px;
  width: 988px;
  padding: 138px 0;
  box-sizing: border-box;
}

.hot-item-left,
.register-left {
  flex: 7;
}

.hot-item-right,
.register-right {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.search-left {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  text-align: right;
}

.search-right {
  flex: 7;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--blue);
}

.footer {
  background-color: #111827;
  height: 160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding: 32px 0;
}

.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left > p {
  color: var(--gray400);
}

.footer-center {
  display: flex;
  gap: 30px;
}

.footer-center > a {
  color: var(--gray200);

  text-decoration: none;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 9px 24px;
  }
  .container {
    width: 100%;
  }
  .main-wrap {
    padding: 24px;
  }

  .landing {
    height: 927px;
  }

  .landing-top {
    padding-top: 74px;
  }

  .landing-top a {
    text-align: center;
  }
  .landing-area {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .landing-area-right {
    flex: none;
  }

  .description {
    flex-direction: row;
  }

  .main-wrap {
    flex-direction: column;
    gap: 24px;
  }

  .section-search {
    flex-direction: column-reverse;
  }

  .footer-area {
    width: 536px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 9px 16px;
  }

  .description{
    flex-direction: column;
  }

  .landing-top .description {
    align-items: center;
  }

  .items-btn {
    padding: 12px 71px;
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer-area {
    width: 311px;
  }

  .footer-left {
    position: absolute;
    bottom: 20%;
  }
}