.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 43px;
  margin-bottom: 50px;
}

.pagination-button.active {
  background-color: #669ce1;
  color: #fff;
  border-color: #669ce1;
}

.pagination-button {
  width: 40px;
  height: 40px;
  border: 1px solid #E5E7EB;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #6B7280;
}

.pagination-button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #669ce1;
  color: #fff;
}

@media (max-width: 1024px) {
  .pagination {
    margin-top: 43px;
  }
}

@media (max-width: 600px) {
  .pagination {
    margin-top: 43px;
  }
}