@charset "utf-8";
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.flex {
  &-row {
    @include flexRow;
  }
  &-col {
    @include flexColumn;
  }
}
.dp-n {
  display: none;
}
.dp-b {
  display: block;
}
.dp-ib {
  display: inline-block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
